.checkout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $primary;

  #checkout {
    padding-top: 150px;

    input,
    select {
      border-radius: 5px;
    }

    .btn-area {
      justify-content: flex-end;
      border-radius: 10px;

      .btn-group {
        button:first-child {
          margin-right: 10px !important;
        }

        button {
          border-radius: 10px;
        }
      }
    }

    #form-register {
      .form-basic-info {
        border-radius: 10px;
      }

      .css-18nu0jg-MuiFormLabel-root-MuiInputLabel-root {
        margin-left: 5px;
      }
    }

    .form-payment-info {
      .credit-card-method {
        #form-checkout {
          .form-checkout-group {
            border-radius: 10px;
          }
        }
      }
    }

    .form-group {
      display: flex;
      margin: 0.6rem 0;
      gap: 16px;

      .form-field > div > .MuiInputBase-root {
        width: 100%;
      }

      .form-field {
        display: flex;
        flex-direction: column;
        width: 50%;

        input {
          color: #ffffff;
          background-color: #343434;
          border: none;
        }

        #form-register__cardholderEmail,
        #form_driver-license-category,
        #form__country,
        #form_state_brazil {
          color: #ffffff;
          border-radius: 5px;
          background-color: #343434;
          padding: 0.4rem;
          font-size: 1.2rem;
        }

        label {
          color: #ffffff;
          z-index: 100;
        }

        select {
          margin: 0.2rem 0;
        }

        .css-9npbnl-MuiFormLabel-root-MuiInputLabel-root {
          font-size: 0.75rem;
        }
      }
    }

    .payment-method {
      border-radius: 10px;

      .form-radio {
        input {
          margin-right: 5px !important;
          margin: 0px;
        }
      }
    }

    #mercado-pago-successful-purchase > div {
      border-radius: 10px;
    }
  }
}

@media (max-width: 768px) {
  .checkout-container {
    #checkout {
      padding-top: 95px;

      .btn-area {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 425px) {
  .checkout-container {
    #checkout {
      .form-group {
        flex-direction: column;
      
        .form-field {
          width: 100%;
          margin: 0px !important;
        }
      }
    }

    #mercado-pago-successful-purchase > div {
      padding: 1.5rem !important;
    }
  }
}