@import url('https://fonts.googleapis.com/css?family=Roboto');

$primary: #f2bb05;
$secondary: #2b2c2B;
$tertiary: #f0f0c9;
$dark: #131515;
$light: #ffffff;
$danger: #d00000;
$success: #28a745;
$remove: #007185;
$mark: rgba(255, 255, 255, 0.7);
$grey: rgb(189 186 189);

@import '../../node_modules/bootstrap/scss/bootstrap';

/* Global Styles */
:root {
  --primary-color: #f2bb05;
  --secondary-color: #2b2c2B;
  --tertiary-color: #f0f0c9;
  --dark-color: #131515;
  --light-color: #ffffff;
  --danger-color: #d00000;
  --success-color: #28a745;
  --remove-color: #007185;
  --mark-color: rgba(255, 255, 255, 0.7);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.container {
  max-width: 1440px !important;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.strike-through {
  text-decoration: line-through;
}

.text-size-xs {
  font-size: 12px;
}

.white-space-nowrap {
  white-space: nowrap;
}

.white-background-mark {
  background: rgba(255, 255, 255, 0.7);
  padding: 5px 20px;
  border-radius: 10px;
}

.mb-custom {
  margin-bottom: 30px;
}

.pb-custom {
  padding-bottom: 30px;
}

.pt-custom {
  padding-top: 30px;
}

.primary-hr {
  height: 1.5px;
  width: 75%;
  margin-left: 12.5%;
  background-color: $primary;
}

.bg-tertiary {
  background-color: $tertiary;
}

.bg-mark {
  background-color: $mark;
}

.bg-grey {
  background-color: $grey;
}

/* Utilities */
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.br-10px {
  border-radius: 10px;
}

.box {
  width: 310px;
  height: 620px;
  border: 5px solid #333;
  border-radius: 10px;
  margin: auto;
  margin: 4px 0 0 4px;
  padding: 8px;

  i {
    font-size: 50px;
  }

  .fa-flag-checkered {
    position: relative;
    right: 5px
  }
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-normal {
  font-weight: normal;
}

.btn {
  margin-right: 0px;
}

.homepage {
  .courses-area {
    .grid {  
      .courses-card {
        padding: 16px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .img-container {
          display: flex;
          align-items: center;
  
          img {
            width: 100%;
            height: auto;
            border-radius: 5px;
          }
        }

        .btn {
          margin-right: 0px !important;
        }
      }
    }
  }
}

.centered-modal-container {
  z-index: 99999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: fixed;
  display: flex;

  .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .centered-modal {
    background: #ffffff;
    padding: 32px;
    border-radius: 8px;
    width: 400px;
    max-width: 80%;
    z-index: 1;
    position: relative;
    margin: auto;

    .header-color-mark {
      background-color: $primary;
      width: 100%;
      height: 12px;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4px 4px 0 0;
    }

    .black-friday-tag {
      position: absolute;
      width: 40%;
      transform: rotate(-60deg);
      right: -60px;
      bottom: -120px;
    }
    
    .christmas-corner-decor {
      position: absolute;
      width: 40%;
      top: -35px;
      left: -35px;
    }
    
    .christmas-balls-decor {
      position: absolute;
      width: 20%;
      right: 0px;
      bottom: -120px;
    }
  }
}

.cart-container {
  .cart {
    padding-top: 150px;
  
    .courses-group {
      border-radius: 10px;

      .course {
        position: relative;
        border-width: 80%;

        &:not(:first-child) {
          padding-top: 1rem;
        }

        .img-container {
          max-width: 33%;
          margin-right: 10px;
  
          img {
            border-radius: 10px;
          }
        }
  
        .content-container {
          .text-primary {
            cursor: pointer;
            border: 1px $light solid;
            padding: 5px;
            border-radius: 10px;
  
            &:hover {
              background-color: $light;
              color: $secondary !important;
            }
          }
        }
      }
    }
  
    .subtotal-area {
      border-radius: 10px;
    }
  
    .btn-area {
      border-radius: 10px;
    }
  }
}

.coupon-field {
  #discount-coupon-field {
    border-top: none;
    border-right: none;
    border-bottom: 1px dashed $light;
    border-left: none;
    color: $light;
    max-width: 175px;
  }
}

#course-requirements {
  .container {
    gap: 10px;
  }
}

#course-content {
  .module {
    height: 90px;

    .colored-div {
      width: 20px;
      height: 100%;
    }

    .module-name {
      min-width: 55%;
    }

    .module-length {
      min-width: 15%;
    }
  }
}

#course-medias {
  .container {
    & > div {
      gap: 10px;
    }

    .content-circle {
      height: 200px;
      width: 200px;
  
      i {
        font-size: 48px;
      }
    }
  }
}

#buy-the-course {
  & > div > div{
    gap: 30px;
  }

  .img-container {
    width: 50%;

    img {
      height: auto;
      width: 100%;
    }
  }

  .content-container {
    width: 50%;
  }
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Cards */
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

.z-index-1 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 10;
}

.z-index-3 {
  z-index: 100;
}

.z-index-4 {
  z-index: 1000;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}
.pr-05 {
  padding-right: 0.5rem;
}
.pr-1 {
  padding-right: 1rem;
}
.pr-2 {
  padding-right: 2rem;
}
.pr-3 {
  padding-right: 3rem;
}
.pl-05 {
  padding-left: 0.5rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pl-2 {
  padding-left: 2rem;
}
.pl-3 {
  padding-left: 3rem;
}

/* Border Radius */
.br-5 {
  border-radius: 5px !important;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my {
  margin: 0.5rem 0;
}
.mx-1 {
  margin: 0 1rem !important;
}
.mx-2 {
  margin:  0 2rem !important;
}
.mx-3 {
  margin: 0 3rem !important;
}
.mr-0px {
  margin-right: 0px !important;
}
.mr {
  margin-right: 0.5rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}
.ml {
  margin-left: 0.5rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-17px {
  margin-left: 17px;
}

.text-break-all {
  word-break: break-all;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.grid-2-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 2rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: var(--dark-color);
}

.btn-secondary,
.bg-secondary,
.badge-secondary,
.alert-secondary {
  background: var(--secondary-color);
  color: var(--light-color);
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  max-width: 90%;
  border-radius: 10px;
  margin-right: 0px;
  line-height: 15px;
}

.btn-remove,
.bg-remove,
.badge-remove,
.alert-remove {
  background: var(--success-color);
  max-width: 90%;
  border-radius: 10px;
  border: none !important;
  margin-right: 0px;
}

.text-remove {
  color: $remove;
}

.btn-success {
  a {
    color: $light !important;
  }
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn-remove,
.bg-remove,
.badge-remove,
.alert-remove {
  background: $remove;
  color: $light;
  border: #ccc solid 1px;
}

.btn-remove:hover {
  background-color: #007185ba;
}

.btn-remove:focus {
  background-color: $remove;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* Forms */
input,
select {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='number'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='submit'],
button {
  font: inherit;
}

.form-container {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.text-align-left-important {
  text-align: left !important;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1000;
  width: 100%;
  margin-bottom: 1rem;

  .logo {
    width: 35%;
  }

  ul {
    display: flex;
    padding: 0px;
    margin: 0px;

    li {
      padding-left: 0.5rem;
      cursor: pointer;
      border-bottom: 2px solid $primary;

      :hover {
        color: $primary;
      }

      a {
        color: #fff;

        &:hover {
          color: var(--light-color);
        }

        h3 {
          margin-bottom: 0.2rem;
        }
      }
    }

    li:first-child {
      padding-left: 0px;
    }
  }
}

#team-members {
  .team-members-container {
    .team-member {
      width: 33%;

      .name {
        margin: 10px 0 0 0;
      }

      .position {
        margin: 0px;
      }
    }
  }
}

#course-faq {
  .row-title {
    font-weight: bold;
  };

  .styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-content__QOGZd .styles_row-content-text__2sgAB {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  };

  .styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY .styles_row-title-text__1MuhU {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: bold;
    line-height: 1.2;
  }
}

#social-media-tab {
  transform: translate(0%, -50%);
  width: 60px;
  top: 25%;

  img {
    width: 50px;
  }
}

@media (max-width: 780px) {
  .navbar {
    .logo {
      width: 30%;
    }

    ul {
      li {
        a {
          h3 {
            font-size: 23px;
          }
        }
      }
    }
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar {
    .logo {
      width: 70%;
      max-width: 160px;
      max-height: 90px;
    }
  }

  .homepage {
    .courses-area {
      .grid {
        display: flex; 
        flex-direction: column;
        grid-gap: 0px;

        .courses-card {
          margin-bottom: 20px;
        }

        .courses-card:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  .cart-container {
    .cart {
      padding-top: 95px;
    }
  }

  #course-content {
    .module {
      height: 165px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .colored-div {
        width: 100%;
        height: 15px;
        margin: 0px;
      }

      h3 {
        margin: 0.5rem 0 0 0;
        text-align: center;
      }

      .module-name {
        text-align: center;
        min-width: 0px;
        margin: 0 0.5rem;
      }

      .module-length {
        margin: 0 0 0.5rem 0 !important;
      }

    }
  }

  #buy-the-course {
    .container {
      & > div {
        flex-direction: column;
      }

      .img-container,
      .content-container {
        width: 100%;
      }
    }
  }

  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  .box {
    height: 540px;
    .fa-flag-checkered {
      position: relative;
      right: 0px
    }
  }

  .ios-background-image {
    background-attachment: scroll !important;
  }
}

@media (max-width: 515px) {
  .centered-modal-container {
    .centered-modal {
      padding: 32px 16px;
    }
  }
}

@media (max-width: 450px) {
  .centered-modal-container {
    .centered-modal {
      .black-friday-tag {
        bottom: -105px;
      }

      .christmas-balls-decor {
        bottom: -100px;
      }
    }
  }
}

@media (max-width: 425px) {
  .navbar {
    padding: 0.7rem 1rem;
  }

  .container {
    padding: 0 1rem;
  }

  #team-members {
    .team-members-container {
      flex-direction: column;

      .team-member {
        width: 90%;

        .name {
          margin: 10px 0 0 0;
        }

        .position {
          margin-bottom: 30px;
        }
      }
    }
  }

  #social-media-tab {
    width: 40px;
  
    img {
      width: 30px;
    }
  }

  .drawer {
    .content-wrapper {
      flex-direction: column;

      & > div {
        width: 100% !important;
      }
    }
  }
}

#main-layout,
#selling-page-layout,
#checkout-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f2bb05;
}

#management-layout {
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f2bb05;

  .left-sidebar-open-btn {
    position: fixed;
    left: -23px;
    bottom: 1rem;
    font-size: 20px;
    margin: 10px;
    color: $remove;
    border: 1px solid $remove;
    border-radius: 75%;
    padding: 5px;
    cursor: pointer;
    transition-timing-function: ease;
    transition-duration: 1s;

    &:hover {
      background-color: $dark;
      transform: translateX(23px);
    }
  }

  #left-sidebar-close-btn-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 175px;
    height: 50px;
    transition-timing-function: ease;
    transition-duration: 1s;

    i {
      font-size: 20px;
      color: $primary;
      border: 1px solid $primary;
      border-radius: 75%;
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: $remove;
      }
    }
  }

  #left-sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 175px;
    background-color: $dark;
    height: 100%;
    border-right: 3px solid $primary;
    transition-timing-function: ease;
    transition-duration: 1s;

    #left-sidebar-logo-container {
      padding: 25px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: $remove;
      }
    }

    .left-sidebar-btn {
      display: flex;
      align-items: center;
      border: 1px solid $primary;
      color: $primary;
      width: 100%;
      height: 50px;
      padding: 0px 10px;
      cursor: pointer;

      &:hover {
        background-color: $remove;
      }

      p {
        margin-bottom: 0px;
        margin-right: 0px;

        i {
          margin-right: 10px;
        }
      }
    }
  }
}

.actions-table {
  .actions-table-center {
    border: 3px solid #000000;
    overflow: auto;

    .status {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }

  .actions-table-button {
    background: none;
    border: none;
  }

  .cell {
    border: 1px solid #333;

    .cell-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; 
    }
  }
}

.drawer {
  border: 3px solid #000000;
}

@media (max-width: 400px) {
  .centered-modal-container {
    .centered-modal {
      .black-friday-tag {
        bottom: -95px;
        right: -50px;
      }

      .christmas-corner-decor {
        top: -25px;
        left: -25px;
      }

      .christmas-balls-decor {
        bottom: -90px;
      }
    }
  }
}

@media (max-width: 350px) {
  .box {
    i {
      font-size: 35px;
    }
  }

  #course-content {
    .module {
      height: 190px;
    }
  }

  .centered-modal-container {
    .centered-modal {
      .black-friday-tag {
        bottom: -80px;
        right: -45px;
      }

      .christmas-corner-decor {
        top: -20px;
        left: -20px;
      }

      .christmas-balls-decor {
        bottom: -75px;
      }
    }
  }
}

@media (max-width: 319px) {
  .navbar {
    ul {
      li {
        a {
          i {
            font-size: 25px;
          }
        }
      }
    }
  }

  .box {
    height: 640px;

    p {
      font-size: 20px;
    }
  }

  .centered-modal-container {
    .centered-modal {
      .black-friday-tag {
        bottom: -70px;
        right: -40px;
      }

      .christmas-balls-decor {
        bottom: -65px;
      }
    }
  }
}

// pages
@import './checkout.scss';

// components
@import './checkoutReview.scss';
@import './alert.scss';